*{
    box-sizing: border-box;
}
.con{
  /* height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display:block;
  width:100%; height:90vh;
  object-fit: cover;
}

div {
    display: block;
}

.caurousel1
{
  z-index: -1;
}

.inforow{
  /* padding: 10px 0; */
  padding: 11px 15px;
  margin: 0;
  
  line-height: 22px;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.Heading{
  padding: 11px 15px;
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
}

.description{
  /* width: 925px; */
  /* float: left; */
  position: relative;
  min-height: 100px;
  padding-bottom: 10px;
  font-size: 14px;
}

.block1{
  padding:50px 75px;
  margin: -40px 190px;
  background-color: #fff;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
  position:absolute;
  width: 75%;
}

.block{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
}

.title{
  color: #999;
    font-size: 14px;
    float: left;
    width: 170px;
    padding-right: 16px;
}

.value
{
  color: #333;
  font-size: 14px;
  /* float: left; */
  width: 740px;
}

.ak img{
  width: 22px;
  height: 22px;
}

.one{
  padding-left: 20px;
  padding-top: 10px;
}

.page-section {
  padding: 6rem 4rem;
  background-color: #3AAFA6;
}