* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* Body  */
  .login {
    font-family: Arial, Helvetica, sans-serif "Poppins-Regular";
    font-size: 15px;
    color: rgb(26, 12, 12);
    margin: 0;
    background-color: rgb(13, 80, 80);
  }
  
  :focus .login{
    outline: none;
  }
  
  textarea .login {
    resize: none;
  }
  
  input .login,
  textarea .login,
  select .login{
    
    font-size: 15px;
   
   
  }
  .btn .login{
    padding-right: 20px;
    transition: 0.5;
  }
  p .login,
  h1 .login,
  h2 .login,
  h3 .login,
  h4 .login,
  h5 .login,
  h6 .login,
  ul .login{
    margin: 0;
  }
  
  ul.login {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a .login{
    text-decoration: none;
  }
  
  textarea .login {
    resize: none;
  }
  
  img .login{
    max-width: 100%;
    vertical-align: middle;
  }
  
  body .login {
    /* BACKGROUND IMAGE */
   
    background-size: cover;
    height: 130vh;
    opacity: 0.9;
    background: #ffd89b;
    background: -webkit-linear-gradient(to left, #ffd89b, #19547b);
    background: linear-gradient(to left, #ffd89b, #19547b);
  }
  
  #stepper-form .login {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    align-self: center;
    transition: all 0.3s ease;
    
  }
  
  .form-header .login {
    text-align: center;
  }
  
  #stepper-form a .login {
    font-family: "Poppins-Regular";
   
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: #e4bd37;
  }
  
  h3 .login{
    font-family: "Poppins-SemiBold";
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 46px;
    letter-spacing: 3px;
    margin-top: 19px;
    page-break-after: auto;
  }
  
  .left-card .login{ 
    padding: 100px;
    float:right;
    
  }
  #stepper-form .login {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 47px 57px 50px 50px;
    position: relative;
   
  }
  
  #step-1, #step-2, #step-3 .login {
    transition: all 0.5s ease;
  }
  
  .form-control .login{
    height: 41px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: none;
    border-radius: 5px;
    width: 100%;
    padding: 0 18px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .form-control:focus .login {
    box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.7);
    border: 1px solid #ceebf7;
  }
  
  .form-control::-webkit-input-placeholder .login {
    color: #fff;
    text-transform: uppercase;
  }
  
  .form-control::-moz-placeholder .login{
    color: #fff;
    text-transform: uppercase;
  }
  
  .form-control:-ms-input-placeholder .login{
    color: #fff;
    text-transform: uppercase;
  }
  
  .form-control:-moz-placeholder .login {
    color: #fff;
    text-transform: uppercase;
  }
  
  select.form-control .login {
    text-transform: uppercase;
  }
  
  .option .login {
    color: #999;
  }
  
  textarea.form-control .login {
    padding: 8px 0;
   
  }
  
  .actions ul .login{
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
  }
  
  
  
  @-webkit-keyframes hvr-icon-wobble-horizontal  {
    16.65%  {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
  
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
  
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
  
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
  
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
  
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }
  
  @keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
  
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
  
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
  
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
  
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
  
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  }
  
  
  @media (max-width: 1500px) {
    #stepper-form .login {
        padding-top: 50px;
        padding-bottom: 60px;
        align-self: flex-start;
    }
  
    .container .login {
        height: auto;
    }
  }
  
  @media (max-width: 1199px) {
    .main .login {
        height: 100vh;
        width: auto;
    }
  
    .image-holder .login {
        align-self: center;
    }
  
    .image-holder img  .login{
        transform: translateY(40px);
    }
  
    #stepper-form .login {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        align-self: center;
    }
  }
  
  @media (max-width: 991px) {
    .main .login {
        justify-content: center;
    }
  
    .image-holder .login {
        display: none;
    }
  
    #stepper-form .login {
        width: auto;
    }
    .col-md-6 .login {
        width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    body .login {
        height: auto;
    }
    .col-md-6  .login{
        width: 100%;
    }
    #footerImg img .login{
        display: none;
    }
  
    .container.login {
        height: auto;
        padding: 30px 20px;
    }
    .icon-bar .login{
        display: none;
    }
  
    #stepper-form .login,
    #wizard .login {
        padding: 0;
    }
  
    h3 .login{
        margin-bottom: 30px;
    }
  
    .form-group .login{
        display: block;
    }
  
    .form-group label .login{
        margin-bottom: 29px;
        display: block;
    }
  
    .form-group label,
    .form-group .form-holder .login{
        width: 100%;
    }
  
    .checkbox-circle .login {
        display: block;
    }
  }
    