* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
/* Body  */
.landlord {
  font-family: Arial, Helvetica, sans-serif "Poppins-Regular";
  font-size: 15px;
  color: rgb(26, 12, 12);
  margin: 0;
  background-color: rgb(13, 80, 80);
}


.card1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 70%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top:50px;
}

:focus .landlord{
  outline: none;
}

textarea .landlord {
  resize: none;
}

input .landlord,
textarea .landlord,
select .landlord{
  
  font-size: 15px;
 
 
}
.btn .landlord{
  padding-right: 20px;
  transition: 0.5;
}
p .landlord,
h1 .landlord,
h2 .landlord,
h3 .landlord,
h4 .landlord,
h5 .landlord,
h6 .landlord,
ul .landlord{
  margin: 0;
}

ul.landlord {
  padding: 0;
  margin: 0;
  list-style: none;
}

a .landlord{
  text-decoration: none;
}

textarea .landlord {
  resize: none;
}

img .landlord{
  max-width: 100%;
  vertical-align: middle;
}

body .landlord {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background:linear-gradient(to right, #343A40, #343A40);;
}

#stepper-form .landlord {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  align-self: center;
  transition: all 0.3s ease;
  
  
}

.form-header .landlord {
  text-align: center;
}

#stepper-form a .landlord {
  font-family: "Poppins-Regular";
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background: #e4bd37;
}

h3 .landlord{
  font-family: "Poppins-SemiBold";
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 46px;
  letter-spacing: 3px;
  margin-top: 19px;
  page-break-after: auto;
}

.left-card .landlord{ 
  padding: 100px;
  float:right;
  
}
#stepper-form .landlord {
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  min-width: 70%;
}

#step-1, #step-2, #step-3 .landlord {
  transition: all 0.5s ease;
}

.form-control .landlord{
  height: 41px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  border-radius: 5px;
  width: 100%;
  padding: 0 18px;
  background: rgba(255, 255, 255, 0.2);
}

.form-control:focus .landlord {
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.7);
  border: 1px solid #ceebf7;
}

.form-control::-webkit-input-placeholder .landlord {
  color: #fff;
  text-transform: uppercase;
}

.form-control::-moz-placeholder .landlord{
  color: #fff;
  text-transform: uppercase;
}

.form-control:-ms-input-placeholder .landlord{
  color: #fff;
  text-transform: uppercase;
}

.form-control:-moz-placeholder .landlord {
  color: #fff;
  text-transform: uppercase;
}

select.form-control .landlord {
  text-transform: uppercase;
}

.option .landlord {
  color: #999;
}

textarea.form-control .landlord {
  padding: 8px 0;
 
}

.actions ul .landlord{
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
}



@-webkit-keyframes hvr-icon-wobble-horizontal  {
  16.65%  {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
  }

  33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
  }

  49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
  }

  66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
  }

  83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
  }

  33.3% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
  }

  49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
  }

  66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
  }

  83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}


@media (max-width: 1500px) {
  #stepper-form .landlord {
      padding-top: 50px;
      padding-bottom: 60px;
      align-self: flex-start;
  }

  .container .landlord {
      height: auto;
  }
}

@media (max-width: 1199px) {
  .main .landlord {
      height: 100vh;
      width: auto;
  }

  .image-holder .landlord {
      align-self: center;
  }

  .image-holder img  .landlord{
      transform: translateY(40px);
  }

  #stepper-form .landlord {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      align-self: center;
  }
}

@media (max-width: 991px) {
  .main .landlord {
      justify-content: center;
  }

  .image-holder .landlord {
      display: none;
  }

  #stepper-form .landlord {
      width: auto;
  }
  .col-md-6 .landlord {
      width: 100%;
  }
}

@media (max-width: 767px) {
  body .landlord {
      height: auto;
  }
  .col-md-6  .landlord{
      width: 100%;
  }
  #footerImg img .landlord{
      display: none;
  }

  .container.landlord {
      height: auto;
      padding: 30px 20px;
  }
  .icon-bar .landlord{
      display: none;
  }

  #stepper-form .landlord,
  #wizard .landlord {
      padding: 0;
  }

  h3 .landlord{
      margin-bottom: 30px;
  }

  .form-group .landlord{
      display: block;
  }

  .form-group label .landlord{
      margin-bottom: 29px;
      display: block;
  }

  .form-group label,
  .form-group .form-holder .landlord{
      width: 100%;
  }

  .checkbox-circle .landlord {
      display: block;
  }
}
  

.con img{
  /* height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

div {
    display: block;
}

.inforow{
  padding: 11px 15px;
  margin: 0;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.Heading{
  padding: 11px 15px;
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
}

.description{
  /* width: 925px; */
  /* float: left; */
  position: relative;
  min-height: 100px;
  padding-bottom: 10px;
  font-size: 14px;
}

.block{
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  margin-bottom: 20px;
}

.title{
    font-size: 18px;
    float: left;
    width: 170px;
    padding-right: 16px;
}

.title1{
  font-size: 17px;
  float: left;
  width: 170px;
  padding-right: 16px;
  text-transform: capitalize;
}

.value
{
  font-size: 18px;
  font-weight: 400;
  width: 740px;
}

.ak img{
  width: 22px;
  height: 22px;
}

.one{
  padding-left: 20px;
  padding-top: 10px;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('images/pic29.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-image1 {
  background-image: url('images/pic10.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-image2 {
  background-image: url('images/pic1.jpg');
  background-size: cover;
  background-position: center center;
}

.bg-image8 {
  background-image: url('images/pic4.jpg');
  background-size: cover;
  background-position: center center;
}



